@use "../abstracts/variables" as *;

.measurement-card {
  width: 100%;
  max-width: 200px;
  padding: $spacing-md $spacing-md;
  border-radius: $radius-md;
  background: $color-surface;
  color: $color-primary;
  text-align: center;
  position: relative;
  cursor: pointer;

  &__title {
    margin-bottom: $spacing-sm;
    font-size: 13px;
    font-weight: 630;
  }

  &__preview {
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9eafbf;
    border-radius: 6px;
  }

  &__more-icon {
    position: absolute;
    top: $spacing-sm;
    right: $spacing-sm;
    cursor: pointer;
  }
  &__icon {
    object-fit: contain;
  }
}
